@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/***************************/
/***** General Styles ******/
/***************************/
html, body {
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1px;
  color: rgba(0,0,0,0.87);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

h2 {
  font-weight: normal;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner {
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 150px;
  text-align: center;
}

.banner-half {
  min-height: 50%;
}

.banner-full {
  min-height: 100%;
}

.caps {
  text-transform: uppercase;
}

.btn-cta {
  background-color: #003BFF;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  color: #FFFFFF;
  font-size: 32px;
  line-height: 32px;
  padding: 30px 50px;
  text-transform: uppercase;
  margin: 50px;
}

.btn-cta:hover {
  padding: 33px 53px;
  margin: 47px;
  box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
  color: #FFFFFF;
}

/* Text Styles for Points of emphasis */

.text-point {
  margin-top: 100px;
  display: inline-block;
}

.text-point p {
  font-size: 20px;
}


/* Download Badges Styles */

.badge-store {
  height: 80px;
  margin: 25px 30px;
}

.badge-store:hover {
  margin-top: 15px;
}

/* Footer Styles */

#footer {
  background-color: #383838;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer p {
  color: white;
}

.icons-social {
  margin-bottom: 100px;
}

.icons-social a i {
  margin: 10px 10px;
  font-size: 100px;
  color: white;
}

.icons-social a i:hover {
  font-size: 110px;
  margin: 0px 6px;
}

@media (max-width: 768px) {
  .banner {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .banner-full, .banner-half {
    min-height: 0%;
  }

  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .btn-cta, .btn-cta:hover {
    font-size: 16px;
    padding: 10px 25px;
    margin: 20px 0px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 16px;
  }

  .badge-store {
    height: 60px;
  }

  #footer {
    padding-top: 20px;
  }

  .icons-social {
    margin-bottom: 30px;
  }

  .icons-social a {
    font-size: 48px;
  }
}

/***************************/
/**** Navigation Styles ****/
/***************************/
.navbar {
  background-color: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
  padding: 5px 0px;
}

/* Logo Styles*/
.navbar-brand {
  padding: 5px 50px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #0097A7;
  font-size: 24px;
}

.navbar-brand img {
  height: 100%;
  margin-right: 15px;
  display: inline;
}

/* Navigation Link styles*/
.navbar-nav a {
  color: #000000;
}

.navbar-right {
  padding-right: 100px;
}

/* Style for mobile navigation icon*/
.icon-bar {
  background-color: black;
}

.navbar-toggle {
  border-color: rgba(0,0,0,0.87);
}

.btn-nav, .btn-nav:hover {
  font-size: 48px;
  margin: 0px;
  border-radius: 100px;
  padding: 16px;
  position: absolute;
  right: 20px;
  top: 20px;
}

/***************************/
/**** Home Page Styles *****/
/***************************/

/* Homepage Banner Styles*/
.banner-title h1 {
  color: #FFFFFF;
  font-size: 124px;
  line-height: 1;
  font-weight: bold;
  margin: 0px;
}

.banner-title h4 {
  color: #FFFFFF;
  font-size: 64px;
  margin-top: 0px;
  font-weight: lighter;
  line-height: 1;
}

#banner-home {
  background-image: linear-gradient(rgba(255, 87, 34, 0.85), rgba(255, 87, 34, 0.85)), url("../images/banner-home.jpeg");
  background-size: cover;
  text-align: center;
}

#banner-users {
  background-image: linear-gradient(rgba(255, 87, 34, 0.85), rgba(255, 87, 34, 0.85)), url("../images/banner-users.jpg");
  background-size: cover;
}

#banner-users h1 {
  color: #FFFFFF;
  font-size: 76px;
}

#banner-users h2 {
  color: #FFFFFF;
}

#banner-test {
  background-image: linear-gradient(rgba(255, 87, 34, 0.85), rgba(255, 87, 34, 0.85)), url("../images/banner-test.jpg");
  background-size: cover;
}

#banner-test p {
  color: white;
  font-size: 36px;
}

/********************************/
/* Homepage and Features Styles */
.icons-features {
  font-size: 150px;
}

.features {
  background-color: #F8F8F8;
}

.features h1 {
  margin-bottom: 50px;
}

.features h3 {
  font-size: 32px;
  line-height: 20px;
}

.features a .well {
  margin: 5px 0px;
  background-color: white;
  border: none;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.87);
}

.features a:hover .well  {
  margin: 0px;
  box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
}

.features a .well:hover h3, .features a:hover {
  text-decoration: none;
}

/***************************/
/*** Features Page Styles **/
/***************************/
#banner-features {
  background-image: linear-gradient(rgba(255, 87, 34, 0.85), rgba(255, 87, 34, 0.85)), url("../images/banner-features.jpg");
  background-size: cover;
  background-position: bottom;
  padding-top: 150px;
  padding-bottom: 100px;
}

#banner-features h1 {
  color: white;
}

.img-features {
  max-height: 600px;
}

.features-point {
  margin-top: 15vw;
  display: inline-block;
}

.features-point p {
  font-size: 20px;
}

#location-services {
  background-color: #F8F8F8;
}

/***************************/
/** Contact Us Page Styles */
/***************************/
#banner-contact {
  background-image: linear-gradient(rgba(255, 87, 34, 0.85), rgba(255, 87, 34, 0.85)), url("../images/banner-contact.jpeg");
  background-size: cover;
}

#banner-contact h1 {
  color: white;
  margin-bottom: 20px;
}

#banner-contact h2 {
  font-size: 32px;
  color: white;
}

#banner-contact a .well {
  margin: 5px 0px;
  background-color: #003BFF;
  border: none;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
  color: white;
}

#banner-contact a:hover .well  {
  margin: 0px;
  box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
}

#banner-contact a .well:hover h2, #banner-contact a:hover {
  text-decoration: none;
}

.panel, .panel-group, .panel-collapse {
  border: none;
  outline: 0px;
  box-shadow: none;
}

.panel-heading {
  position: relative;
  background-color: #F8F8F8;
  padding: 30px;
  width: 80%;
  margin-bottom: 20px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.panel-heading:active {
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.panel-heading a {
  font-size: 24px;
}

.panel-body {
  background-color: #00CEFF;
  padding: 30px;
  margin-left: 20%;
  margin-bottom: 60px;
  font-size: 24px;
  border: none;
  outline: none;
  box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
}

.triangle-body {
  position: relative;
}

.triangle-body:before {
    content: "";
    position: absolute;
    top: -30px;
    right: 50px;
    border-width: 0px 30px 30px;
    border-style: solid;
    border-color: #00CEFF transparent;
    display: block;
    width: 0;
}


@media (max-width: 970px) {
  /* Text Styles for Points of emphasis */
  .text-point {
    margin-top: 0px;
    text-align: center;
    width: 100%;
  }

  .text-point p {
    font-size: 24px;
  }

  .img-demo {
    margin-top: 0px;
    max-height: 80vh;
  }
}

@media (max-width: 768px) {
  /***************************/
  /** General Mobile Styles **/
  /***************************/
  .btn-nav {
    visibility: hidden;
  }

  .navbar-brand {
    padding: 5px 5px;
  }

  .navbar-right {
    padding: 0px;
    text-align: center;
  }

  .navbar-right li {
    border-top: 1px solid rgba(0,0,0,0.12);
    padding: 10px;
    margin: 0px;
  }

  /***************************/
  /** Homepage Mobile Styles */
  /***************************/

  #banner-home {
    padding-top: 150px;
  }

  .banner-title h1 {
    font-size: 48px;
  }
  .banner-title h4 {
    font-size: 24px;
  }

  .icons-features {
    font-size: 40px;
  }

  #features h1 {
    margin-bottom: 20px;
  }

  #features h3 {
    font-size: 24px;
    line-height: 10px;
  }

  #banner-test p {
    font-size: 24px;
  }

  /***************************/
  /*** Features Page Styles **/
  /***************************/

  .img-features {
    margin: 0 auto;
    max-height: 400px;
  }

  .features-point {
    margin-top: 0px;
    display: inline-block;
    text-align: center;
  }

  #banner-contact h2 {
    font-size: 16px;
    color: white;
  }

  #banner-contact a .well {
    padding: 10px;
  }
}
